@model Projekt.Models.User
    
@{
    ViewBag.Title = "Formularz rejestracyjny";
}
<h2>@ViewBag.Title</h2>
 
@using (Html.BeginForm("AddUser", "Home"))
{
    <div class="editor-label">
            @Html.LabelFor(model => model.Login)
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Login)
            </div>    
    </div>
    <div class="editor-label">    
            @Html.LabelFor(model => model.EMail)
            <div class="editor-field">
                @Html.TextBoxFor(model => model.EMail)
            </div>    
    </div>
    <div class="editor-label">
            @Html.LabelFor(model => model.Password)
            <div class="editor-field">
                @Html.PasswordFor(model => model.Password)
            </div>    
    </div>
    <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword)
            <div class="editor-field">
                @Html.PasswordFor(model => model.ConfirmPassword)
            </div>    
    </div>
    <div class="validation-form">
        @Html.ValidationSummary()
    </div>
    <br />
    <input class="btn btn-primary" type="submit" value="Wyślij" />
    <br />
    
}